body {
  font-size: 17px;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

hr {
  border-color: #555;
}

.section-padding {
  padding: 80px 0;
}

pre {
  padding: 70px;
}

.section-title {
  margin-bottom: 70px;
  padding: 15px 20px;
  position: relative;
}

.section-title::after {
  background-color: #464646;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.section-title h2 {
  font-size: 45px;
}

.subtitle h3 {
  color: #22252c;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

/*== Author Base CSS End ==*/

.preheader-area {
  background-color: #464646;
  padding: 10px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.main-menu ul {
  text-align: center;
}

.main-menu ul li {
  display: inline;
}

.main-menu ul li a {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  transition: all 0.4s ease 0s;
}

.main-menu ul li.active a,
.main-menu ul li a:hover {
  background-color: #eaeaea;
  border-radius: 3px;
  color: #222;
}

.overview-text h4 {
  font-size: 17px;
  margin: 15px 0;
}

.doc-btn {
  background-color: #464646;
  border-radius: 4px;
  box-shadow: 0 1px 10px #888;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 15px 25px;
  text-transform: uppercase;
}

.doc-btn:focus,
.doc-btn:hover {
  color: #fff;
}

.message-text {
  background-color: #ddd;
  border-radius: 4px;
  color: #111;
  font-size: 20px;
  height: auto !important;
  padding: 80px 50px;
}

.message-text a {
  color: #000;
  font-weight: 600;
}

html,
body,
#overview-area,
#overview-area div {
  height: 100%;
}

.overview-text {
  margin-top: 54px;
}

.overview-text h2 {
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;
  padding: 15px 20px;
  position: relative;
}

.section-title::after {
  background-color: #464646;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.section-title h2 {
  font-size: 45px;
  color: #464646;
}

.hightligted {
  margin-bottom: 50px;
}

.hightligted:last-child {
  margin-bottom: 0;
}

.hightligted p {
  font-size: 17px;
  margin-bottom: 10px;
}

.install-text ul li {
  line-height: 2.3em;
  margin-left: 17px;
}

.square li {
  list-style: square;
}

.fontuse-text .single-font {
  margin-bottom: 50px;
}

.fontuse-text .single-font h6 {
  margin-top: 10px;
  padding-left: 40px;
}

.fontuse-text .single-font:last-child {
  margin-bottom: 0;
}

.single-customizaton {
  margin-bottom: 50px;
}

.single-customizaton:last-child {
  margin-bottom: 0;
}

.cus-thumb {
  background-color: #eaeaea;
  border-radius: 3px;
  margin-top: 30px;
  padding: 15px;
}

.cus-info {
  background-color: #464646;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
}

#thanks-area h4 {
  color: #464646;
  font-weight: 500;
  margin-top: 15px;
}

#thanks-area h4 span {
  display: block;
}

#thanks-area h4 a {
  color: #444;
  font-size: 20px;
  display: inline-block;
  font-weight: 400;
  margin-top: 10px;
}

footer#footer-area {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
}

.copyright-text a {
  color: mediumturquoise;
}

.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.breadcrumb-bg-2 {
  background-image: url('../../static/img/lightbg.jpg') !important;
  padding-top: 25px;
  padding-bottom: 50px;
}

.my-hero-body {
  background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)),
    rgba(0, 0, 0, 0.55) url('https://picsum.photos/id/381/1920/1080') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.has-text-white {
  color: white !important;
}

section {
  padding: 0 !important;
}

.my-header {
  margin-bottom: 50px !important;
}

@media (max-width: 769px) {
  .has-text-centered-mobile {
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.my-contact-hero {
  padding-top: 100px !important;
  padding-bottom: 50px !important;
}

@media (max-width: 779px) {
  .my-contact-hero {
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .parameters-fixed .gatsby-image-wrapper {
    width: 100% !important;
    height: 300px !important;
  }
}

.button-full-width {
  width: 100% !important;
}

.parameters-fixed {
  width: 30% !important;
}

@media (max-width: 1199px) {
  .parameters-fixed {
    width: 40% !important;
  }
}

@media (max-width: 779px) {
  .parameters-fixed {
    width: 100% !important;
  }
  .parameters-body {
    text-align: center;
  }
}

div .container-padding .container {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 440px) {
  .parameters-fixed .gatsby-image-wrapper {
    width: 100% !important;
    height: 200px !important;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(145, 145, 145, 0.5);
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  font-size: 18px;
}
